spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=escrow_db;encrypt=true;trustServerCertificate=true
    username: sa
    password: your_password
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

server:
  port: 9999
