spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=webtrunggian_v2;encrypt=true;trustServerCertificate=true
    username: sa
    password: 1234
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

server:
  port: 9999
  error:
    include-message: always
    include-binding-errors: always
